<h1>Listing friends</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th style="width:80px;"></th>
  </tr>

<% @friends.each do |friend| %>
  <tr>
    <td><%= friend.name %></td>
    <td><%= friend.lat %></td>
    <td><%= friend.lon %></td>

    <td>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <%= link_to 'Show', friend %>
          <%= link_to 'Edit', edit_friend_path(friend) %>
          <%= link_to 'Destroy', friend, confirm: 'Are you sure?', method: :delete %>
        </ul>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @friends %>
<br />

<%= link_to 'New Friend', new_friend_path %>
